/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    /* border: 1px red solid; */
    text-align: center;
}

div {
    text-align: center;
}

table {
    margin: auto;
}

.boton {
    /* border: 1px red solid; */
}

button {
    /* border: 1px blue solid; */
}

a {
    /* border: 1px green solid; */
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: white;
}

a:visited {
    color: black;
}

a:visited:hover {
    color: white;
}

input[type="submit"] {
    /* border: 1px yellow solid; */
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}